// Theme Color
@theme-color-1: #ff992a;
@theme-color-2: #53565b;
@theme-color-3: #f3f5f4;
@theme-color-4: #8f8f8f;

// Structure Color
@brand-background-color: #262a2b;
@sidebar-background-color: #303338;
@sidebar-font-color-1: #989ba0;
@sidebar-font-color-2: #55595a;
@content-background-color: #fff;
@body-backgorund-color: #f3f5f4;
// Structure Border
@content-border-color: #dedede;

// Sizes
@topnavagation-height: 100px;